th, td{
	border-bottom: 1px solid #ddd;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 8px;
}
#dictTable tr:nth-child(even){background-color: #f2f2f2;}
#dictTable tr:hover {background-color: #ddd;}
#dictTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}